@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
	font-family: 'Source Sans Pro', sans-serif;
}
.container {
	display: flex;
}
.menu {
	display: flex;
	justify-content: flex-end;	
}
ul li {
	display: inline-flex;
	padding: 10px;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #313650;
	font-weight: 700;
	font-size: 20px;
}
.jumbotron {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: #ffbf00;
	padding: 80px 0;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width: 50%;
    height: 50%;
    padding: 10px;
}
.cards {
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	margin: 120px 60px;
}
.text {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.first-quote {
	color: #313650;
	font-weight: 700;
	font-size: 25px;
}
.second-quote {
	color: #ffbf00;
	font-weight: 700;
	font-size: 25px;
}
footer {
	color: #313650;
	font-weight: 700;
	display: flex;
	justify-content: center;
	flex-grow: 2;
	font-size: 14px;
	border-top: 2px solid #e55354;
}
